<form class="my-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h1>Employee Form</h1>
    <div>
      <label for="firstname">First Name</label>
      <input
        type="text"
        name="firstname"
        id="firstname"
        class="input-form"
        formControlName="firstname"
      />
      <div
        class="errormsg"
        *ngIf="
          employeeForm.get('firstname')?.invalid &&
          employeeForm.get('firstname')?.touched
        "
      >
        First Name is Required
      </div>
    </div>
    <div>
      <label for="lastname">Last Name</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        class="input-form"
        formControlName="lastname"
      />
      <div
        class="errormsg"
        *ngIf="
          employeeForm.get('lastname')?.invalid &&
          employeeForm.get('lastname')?.touched
        "
      >
        Last Name is Required
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="input-form"
        formControlName="email"
      />
      <div
        class="errormsg"
        *ngIf="
          employeeForm.get('email')?.invalid &&
          employeeForm.get('email')?.touched
        "
      >
        Email is Invalid
      </div>
    </div>
    <div>
      <label for="phoneno">Phone No</label>
      <input
        type="number"
        name="phoneno"
        id="phoneno"
        class="input-form"
        formControlName="phoneno"
      />
      <div
        class="errormsg"
        *ngIf="
          employeeForm.get('phoneno')?.invalid &&
          employeeForm.get('phoneno')?.touched
        "
      >
        Phone no is inlvalid
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
